// Insert your variables
$ink-color: #193446;
$yellow-color: #e9c77b;
$apricot-color: #e2b49a;
$blue-color: #9aabb9;
$powder-color: #c4d4e0;

$sea-green-color: #61cobf;
$pink-color: #ffb689;

$dark-blue-color: #3FA3BA;
$light-blue-color: #8CBEC7;
$dark-pink-color: #EA8F98;
$light-pink-color: #F4CBDB;