<div id="homepage">
<center>
<div id="blurb">

Amanda is a San Francisco transplant from Denver, Colorado with a great love for coffee. She is a software engineering manager for Autodesk Construction Services on a team focused on helping construction companies mitigate risk.
<div id="blurb">
She holds a degree in Computer Science from the University of Illinois at Urbana-Champaign. She previously worked on the rentals team at Zillow.  Before working at Zillow, she worked in the Center for Cyber Defenders at Sandia National Laboratories and the Internet of Things Group at Intel.
</div>

<div id="blurb">
In her spare time Amanda enjoys speaking at technical conferences, mentoring others, and doing volunteer work. Amanda is an instructor for CodePath.org, which is a nonprofit that provides college students with no cost coding courses and mentorship. <br />
Amanda has spoken on technical subjects at a variety of conferences including PyCon, Devsum Sweden, and JSConf EU. Amanda also volunteers as a hotline counselor for Tenants Together to help renters in the state of California understand their rights.
</center>
</div>
