<div id="homepage">
<center>
<div id="blurb">
Amanda is a Seattle transplant from Denver, Colorado with a great love for coffee and a bit less love for rain. She is a full-stack software engineer for the rentals team at Zillow working to make the process of renting better for renters and property managers. </div>

<div id="blurb">
She holds a degree in Computer Science from the University of Illinois at Urbana-Champaign. Before working at Zillow, she worked in the Center for Cyber Defenders at Sandia National Laboratories and the Internet of Things Group at Intel. She is a full stack developer with a particular soft spot for the backend.
</div>

<div id="blurb">
She is passionate about addressing problems in the technology industry through writing, speaking, and taking action. She has spoken on technical subjects at a variety of local locations and is speaking this year at PyCon, Devsum Sweden, and SelfConf.
</center>
</div>
