<!-- contact form -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <center>
  <div class="row" id="contact">
  <div>
          <p>
          <div><i class="material-icons prefix"></i>
          <span>email:
          <a href="mailto:amsopkin@gmail.com">amsopkin@gmail.com</a></span></div>
          </p>
  </div>
  <br>
  <div>
          <p>
          <div><i class="material-icons orange600"></i>
          <span>twitter:
          <a href="https://twitter.com/amandasopkin">@amandasopkin</a></span><div>
          </p>
  </div>
  <br>
  <div>
          <p>
          <div><i class="material-icons prefix">
          </i>
          <span>linkedin:
          <a href="https://www.linkedin.com/in/amandasopkin/">linkedin: amanda.sopkin</a></span></div>
          </p>
  </div>
  </center>
