<!-- contact form -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <center>
  <div class="row" id="contact">
  <div>
          <p>
          <div><i class="material-icons prefix"></i>
            <p>email: </p>
          <a href="mailto:amsopkin@gmail.com">amsopkin@gmail.com</a></div>
          </p>
  </div>
  <br>
  <div>
          <p>
          <div><i class="material-icons orange600"></i>
          <a href="https://twitter.com/amandasopkin">twitter: @amandasopkin</a><div>
          </p>
          </a>
  </div>
  <br>
  <div>
          <p>
          <div><i class="material-icons prefix">
          </i>
          <a href="https://www.linkedin.com/in/amandasopkin/">linkedin: amanda.sopkin</a></div>
          </p>
  </div>
  </center>
