<div class="gallery">
<div class="wrapper roundedCorners">
  
  <div class="main">
    <center><p>Some of my favorite projects</p></center>
  </div>

</div>

<ul class="top">
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="DevSum Sweden"
      data-description="I spoke at DevSum 2018 about Code Reviews: The Good, the Bad, and the Ugly.">
   
        <img src="media/gallery/DevSumSwe.png">
    
    </a>
  </li>
    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Pycon"
      data-description="I spoke at PyCon USA on Randomness in Python: Controlled Chaos in an Ordered Machine.">
   
        <img src="media/gallery/pycon.png">
    
    </a>
  </li>
    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Rental Applications"
      data-description="Built Rental Applications for Zillow">
   
        <img src="media/gallery/apps.png">
    
    </a>
  </li>
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="WTIA Ion Program"
      data-description="As a part of the 2018 Washington Technology and Industry Association Ion Cohort, I work with representatives of the government, nonprofit, and technology sectors in Seattle to solve community problems.">
   
        <img src="media/gallery/wtia.png">
    
    </a>
  </li>
    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="UIUC"
      data-description="Studied Computer Science @ UIUC">
   
        <img src="media/gallery/uiuc_rsz.jpg">
    
    </a>
  </li>
    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Major League Hacking"
      data-description="I am a student coach for Major League Hacking, helping organizers around the country plan hackathons and providing technical mentorship for students at events.">
   
        <img src="media/gallery/mlh.jpeg">
    
    </a>
  </li>  
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Babu Receipt Reducer"
      data-description="My team won Best Undergraduate Team for our idea in the 2014 Dale Cozad New Venture Competition.">
   
        <img src="media/gallery/babu.jpeg" alt="Landscape image">
    
    </a>
  </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Randomized Networks"
      data-description="Developed a probabilistic enterprise environment and populated this topology with automated processes.">
   
        <img src="media/gallery/network.png" alt="Landscape image">
    
    </a>
  </li>
  
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Intel Developer Forum"
      data-description="I created and demo-ed a gesture recognition system for Intel that sent robots specific commands triggered by movements via TCP/IP packets.">
   
        <img src="media/gallery/intel.jpeg" alt="Landscape image">
    
    </a>

   </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Data Visualizations"
      data-description="This D3 chord shows the cross-sections of Zillow employees and their stage in the house-hunting process.">
   
        <img src="media/gallery/chord.png" alt="Landscape image">
    
    </a>
  </li>

  </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Engineers Without Borders"
      data-description="I traveled to Ntisaw, Cameroon with my University's chapter of Engineers without Borders this May to monitor a water system.">
   
        <img src="media/gallery/ewb.jpg" alt="Landscape image">
    
    </a>
  </li>

    </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Zillow Internship"
      data-description="In 2016 I worked on the Zillow digs team as a full-stack engineer.">
   
        <img src="media/gallery/digs.png" alt="Landscape image">
    
    </a>
  </li>

    </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Box Engineering Scholar"
      data-description="In 2015 I was selected as Box Engineering's grand scholar.">
   
        <img src="media/gallery/box.jpg" alt="Landscape image">
    
    </a>
  </li>
  
</ul>
</div>