<div class="gallery">
<div class="wrapper roundedCorners">
  
  <div class="main">
    <center><p>Some of my favorite projects</p></center>
  </div>

</div>

<ul class="top">
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="UIUC"
      data-description="Studied Computer Science 2013-2017">
   
        <img src="media/gallery/uiuc_rsz.jpg">
    
    </a>
  </li>
  
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Babu Receipt Reducer"
      data-description="My team won Best Undergraduate Team for our idea in the 2014 Dale Cozad New Venture Competition.">
   
        <img src="media/gallery/babu.jpeg" alt="Landscape image">
    
    </a>
  </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Randomized Networks"
      data-description="Developed a probabilistic enterprise environment and populated this topology with automated processes.">
   
        <img src="media/gallery/network.png" alt="Landscape image">
    
    </a>
  </li>
  
  <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Intel Developer Forum"
      data-description="In the summer of 2014 I created and demo-ed a gesture recognition system that sent robots specific commands triggered by movements via TCP/IP packets.">
   
        <img src="media/gallery/intel.jpeg" alt="Landscape image">
    
    </a>

   </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Data Visualizations"
      data-description="This D3 chord shows the cross-sections of Zillow employees and their stage in the house-hunting process.">
   
        <img src="media/gallery/chord.png" alt="Landscape image">
    
    </a>
  </li>

  </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Engineers Without Borders"
      data-description="I traveled to Ntisaw, Cameroon with her University's chapter of Engineers without Borders this May to monitor a water system.">
   
        <img src="media/gallery/ewb.jpg" alt="Landscape image">
    
    </a>
  </li>

    </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Zillow Internship"
      data-description="This summer I worked on the Zillow digs team as a full-stack engineer.">
   
        <img src="media/gallery/digs.png" alt="Landscape image">
    
    </a>
  </li>

    </li>

    <li class="galleryItem">
    <a class="caption"
      href="#"
      data-title="Box Engineering Scholar"
      data-description="In 2015 I was selected as Box Engineering's grand scholar.">
   
        <img src="media/gallery/box.jpg" alt="Landscape image">
    
    </a>
  </li>
  
</ul>
</div>