<div id="projects">
<div class="row section">
  <!-- sandia -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id="ink">
  <img class="responsive-img" src="./data/images/networksmall.png" style="padding-top: 10px;">
  <br>
  <h3> Randomized Network Topology Generator </h3>
  </a>
  </div>

  <!-- babu -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalbabu" id="lightpink">
  <img class="responsive-img" src="./data/images/babusmall.jpg" style="padding-top: 10px;">
  <br>
  <h3> Receipt Itemization Application </h3>
  </a>
  </div>

  <!-- IDF -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalidf" id="ink">
  <img class="responsive-img" src="./data/images/idfsmall.jpg" style="padding-top: 10px;">
  <br>
  <h3> Demo at Intel's Developer Conference </h3>
  </a>
  </div>

  <!-- Cloud -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalcloud" id="lightpink">
  <img src="./data/images/cloudsmall.jpg" style="padding-top: 10px;">
  <br>
  <h3> Twitter Bot for Smart Cloud </h3>
  </a>
  </div>

  <!-- Android -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalandroid" id="ink">
  <img src="./data/images/androidsmall.png" style="padding-top: 10px;">
  <br>
  <h3> Android Certification from Udacity Program</h3>
  </a>
  </div>

  <!-- Cameroon -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalcam" id="lightpink">
  <img src="./data/images/cam1small.jpg" style="padding-top: 10px;">
  <br>
  <h3> Trip with Engineers without Borders </h3>
  </a>
  </div>

  <!-- Music Player -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalmusic" id="ink">
  <img src="./data/images/musicsmall.png" style="padding-top: 10px;">
  <br>
  <h3> Music Player that shows live streaming music </h3>
  </a>
  </div>

  <!-- RSO Organizer -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalrso" id="lightpink">
  <img src="./data/images/rsosmall.png" style="padding-top: 10px;">
  <br>
  <h3> RSO Organizer to manage calendars and events </h3>
  </a>
  </div>

  <!-- Map -->
  <div class="col s4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modalmap" id="ink">
  <img src="./data/images/mapsmall.jpg" style="padding-top: 10px;">
  <br>
  <h3> World map of EWB projects </h3>
  </a>
  </div>


</div>
<!-- Networks -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Randomized Network Generator</h4>
    <p>Amanda has worked on designing and creating home and enterprise network topologies with ring and star structures and OSPF/BGP routing. She developed a probabilistic enterprise environment and populated this topology with automated processes. The system was created for testing purposes and was created using a virtual machine platform.</p>
    <img src="./data/images/network.png" style="padding-top: 10px;">
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Babu -->
<div id="modalbabu" class="modal">
  <div class="modal-content">
    <h4>Cozad New Ventures Contest</h4>
    <p>Amanda and her partner are working to create BABU--part mobile application and part scanning device, 
    BABU will give users an electronic, paper-free option by eliminating the need for physical receipts. 
    Countless paper receipts are merely thrown away, generating a staggering 1.5 million pounds of waste. 
    Our product allows businesses and users to exchange receipt without a paper middleman. 
    Babu will transmit information virtually, streamlining and synchronizing budgetary planning. 
    The Babu team won Best Undergraduate Team in the 2014 Dale Cozad New Venture Competition. 
    The team has been featured in Electronic Design magazine ECN and on the University of Illinois engineering website.</p>
    <img src="./data/images/babu.jpg" style="padding-top: 10px;">
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- IDF -->
<div id="modalidf" class="modal">
  <div class="modal-content">
    <h4>Intel Developer Forum</h4>
    <p>Amanda connected robots to gestures recognized from a RealSense this summer. She created a gesture recognition system that sent robots specific commands triggered by movements via TCP/IP packets. She worked with a team to create recognizable dance moves which are shown in the second part of the video below.</p>
    <p><div class="video-container">
    <iframe width="1102" height="500" src="https://www.youtube.com/embed/OkQQzTQ4uDw" frameborder="0" allowfullscreen></iframe>
    </div></p>
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Cloud -->
<div id="modalcloud" class="modal">
  <div class="modal-content">
    <h4>Twitter Cloud</h4>
    <p>Amanda built a cloud this summer, using a python module to scrape the web for tweets and send signals to an LED light strip.</p>
    <!-- <video src="./data/videos/cloudsmall.mp4" preload style="padding-top: 10px;"></video> -->
    <p><div class="video-container">
    <iframe width="1102" height="620" src="https://www.youtube.com/embed/Bvzn75vI6Ug" frameborder="0" allowfullscreen></iframe>
    </div></p>
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Android -->
<div id="modalandroid" class="modal">
  <div class="modal-content">
    <h4>Udacity Certification </h4>
    <p>Amanda completed the Android Udacity course Developing Android Apps as a part of her participation in Google's CodeU program.</p>
    <img src="./data/images/android.png" style="padding-top: 10px;">
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- EWB Cameroon -->
<div id="modalcam" class="modal">
  <div class="modal-content">
    <h4>Engineers without Borders Implementation Trip to Cameroon</h4>
    <p>Amanda traveled to Ntisaw, Cameroon with her University's chapter of Engineers without Borders this May to monitor a water system.</p>
    <img src="./data/images/cam1.jpg" style="padding-top: 10px;">
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Music -->
<div id="modalmusic" class="modal">
  <div class="modal-content">
    <h4>Music Player</h4>
    <p>A web application I created that shows my currently playing tunes on Spotify! Give it a look by clicking the image below and see if we have similar tastes.</p>
    <a href="/#/mymusic"><img src="./data/images/musicsmall.png" style="padding-top: 10px;"></a>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- RSO Organizer -->
<div id="modalrso" class="modal">
  <div class="modal-content">
    <h4>RSO Organizer</h4>
    <p>A web application with a user friendly frontend and a useful REST api designed to help college clubs manage their many users on email lists and to help users find different organizations and fit events into their schedules.</p>
    <p><div class="video-container">
    <iframe width="1102" height="620" src="https://www.youtube.com/embed/8Aj8VOIS9yM" frameborder="0" allowfullscreen></iframe>
    </div></p>
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- Map -->
<div id="modalmap" class="modal">
  <div class="modal-content">
    <h4>Map of EWB Projects</h4>
    <p>Amanda created this map to show Engineers without Borders projects at UIUC using the Google Maps API.</p>
    <p><div class="video-container">
    <iframe width="1102" height="620" src="https://www.youtube.com/embed/D0mk-jA07Bw" frameborder="0" allowfullscreen></iframe>
    </div></p>
  </div>
  <div class="modal-footer">
    <a href="/#/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<!-- end modals -->
</div>
<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    //big image = 480 * 300, small = 240 x 150
    $('.modal-trigger').leanModal();
  });
 </script>
