<div id="protected">
<li ng-repeat="message in messages">
<h2>Name: {{ message.name }}</h2>
<h2>Email: {{ message.email }}</h2>
<h2>Message: {{ message.message }}</h2>
</li>
<div class="row">
	<li ng-repeat="message in messages">
        <div class="col s3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Message from {{ message.name }}</span>
              <h2>Email: </h2><p>{{ message.email }}</p>
              <h2>Message: </h2><p>{{ message.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
</div>